# Inventory - Danh sách servers
all:
  children:
    postgres_servers:
      hosts:
        postgres:
          # Connection - IP hiện tại của VM
          ansible_host: 172.16.19.xxx
          ansible_user: your-user
          ansible_password: "your-password"

          # Config mới
          vm_hostname: "postgres-prod-01"
          static_ip: "172.16.19.10/24"
          gateway: "172.16.19.1"
          network_interface: "ens160"

          # Data disk
          data_disk_device: "/dev/sdb"
          data_mount_point: "/data"
