# Inventory - danh sách hosts
all:
  children:
    postgres_servers:
      hosts:
        postgres:
          ansible_host: 172.16.19.xxx  # IP hiện tại của VM
          ansible_user: tantai
          # ansible_password: "your-password"
          
          # Config mới
          new_hostname: "postgres-prod-01"
          new_ip: "172.16.19.10"
          new_gateway: "172.16.19.1"
          network_interface: "ens36"
