---
# Playbook: Change PostgreSQL user password
# Usage: ansible-playbook playbooks/postgres-change-password.yml -e "username=kanban_dev new_password=xxx"

- name: Change PostgreSQL user password
  hosts: postgres_servers
  become: yes

  tasks:
    - name: Validate parameters
      fail:
        msg: "Required: -e 'username=xxx new_password=xxx'"
      when: username is not defined or new_password is not defined

    - name: Change password
      shell: |
        docker exec pg15_prod psql -U postgres -c "ALTER USER {{ username }} WITH PASSWORD '{{ new_password }}';"
      register: result

    - name: Show result
      debug:
        msg: "Password changed for user '{{ username }}'"
