---
# Playbook: Setup LocalStack Pro
# Optimal setup for High Performance & Persistence

- name: Setup LocalStack Pro
  hosts: localstack
  become: true
  roles:
    - role: kernel-tuning
      vars:
        sysctl_params:
          - { name: "fs.file-max", value: "2097152" }
          - { name: "vm.max_map_count", value: "262144" }
          - { name: "net.core.somaxconn", value: "65535" }
          - { name: "net.ipv4.ip_local_port_range", value: "1024 65000" }
    - role: docker
    - role: data-disk
      vars:
        disk_fstype: xfs
    - role: localstack
