---
# Playbook: Setup MinIO + Zot Registry

- name: Setup Object Storage (MinIO + Zot Registry)
  hosts: storage_servers
  become: true
  roles:
    - role: common
    - role: kernel-tuning
      vars:
        sysctl_params:
          - { name: "vm.swappiness", value: "10" }
          - { name: "vm.dirty_ratio", value: "15" }
          - { name: "vm.dirty_background_ratio", value: "5" }
    - role: docker
    - role: data-disk
      vars:
        data_mount_point: "/mnt/storage_data"
        disk_fstype: xfs
    - role: minio
