{
  "distSpecVersion": "1.1.0-dev",
  "storage": {
    "rootDirectory": "/var/lib/zot",
    "dedupe": false,
    "remoteCache": false,
    "storageDriver": {
      "name": "s3",
      "rootdirectory": "/",
      "region": "us-east-1",
      "bucket": "zot-registry",
      "regionendpoint": "http://minio:9000",
      "accesskey": "{{ minio_root_user }}",
      "secretkey": "{{ minio_root_password }}",
      "secure": false,
      "skipverify": true,
      "forcepathstyle": true
    }
  },
  "http": {
    "address": "0.0.0.0",
    "port": "5000",
    "auth": {
      "htpasswd": {
        "path": "/etc/zot/htpasswd"
      }
    }
  },
  "log": {
    "level": "info"
  },
  "extensions": {
    "ui": {
      "enable": true
    },
    "search": {
      "enable": true
    }
  }
}
