version: "3.8"

services:
  wg-easy:
    container_name: wg_easy
    image: ghcr.io/wg-easy/wg-easy:latest
    environment:
      # Server config
      - WG_HOST={{ ansible_host }}
      - 'PASSWORD_HASH={{ wireguard_password_hash }}'
      - WG_PORT=51820
      - WG_DEFAULT_ADDRESS=10.8.0.x
      - WG_DEFAULT_DNS=1.1.1.1
      - WG_ALLOWED_IPS=172.16.21.0/24,10.8.0.0/24
      - WG_PERSISTENT_KEEPALIVE=25
      - WG_MTU=1420
      # UI config
      - UI_TRAFFIC_STATS=true
      - UI_CHART_TYPE=2
    volumes:
      - /opt/wireguard:/etc/wireguard
    ports:
      - "51820:51820/udp"  # WireGuard VPN
      - "51821:51821/tcp"  # Web UI
    restart: always
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
